.card{
    width: 306px;
    height: 375.21px;
    margin-bottom: 4px;
}
.card  img{
    width: 288.40px;
    height: 216.01px;
    object-fit: cover;
    object-position: center;
}
.btn1:hover{
    background-color: green !important;
    color: white !important ;
}
.btn1{
    transition: 0.5s;
}
tr td img{
    width: 150px ;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    margin: 5px;
}